@mixin user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
}

@mixin boxshadow($horizontal: 0em, $vertical: 0em, $blur: 0.1125em, $spread: 0.025em, $color: rgba(0, 0, 0, 0.3)) {
    -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
    box-shadow: $horizontal $vertical $blur $spread $color;
}

@mixin boxshadowInset($horizontal: 0.0275em, $vertical: 0.0325em, $blur: 0.4125em, $spread: -0.045em, $color: rgba(0, 0, 0, 0.3)) {
    -webkit-box-shadow: inset $horizontal $vertical $blur $spread $color;
    box-shadow: inset $horizontal $vertical $blur $spread $color;
}

@mixin boxshadowFocus($horizontal: 0em, $vertical: 0em, $blur: 0em, $spread1: 0.0625em, $color1: $focus1, $spread2: 0.1875em, $color2: $focus2) {
    -webkit-box-shadow: $horizontal $vertical $blur $spread1 $color1, $horizontal $vertical $blur $spread2 $color2;
            box-shadow: $horizontal $vertical $blur $spread1 $color1, $horizontal $vertical $blur $spread2 $color2;
}