@import 'colors';
@import 'mixins';

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: relative;
}

h1 {
    border-bottom: 4px solid $main;
    min-height: 2.5em;
    word-break: break-word;
}

.setting-box {
    position: absolute;
    top: .4em;
    right: .4em;
    button {
        width: 2.625em;
        height: 2.375em;
        background-color: transparentize($main, $amount: .95);
    }
    ul {
        text-align: center;
    }
}

.progress {
    height: 0.5em;
}

ul > li {
    -webkit-transition-duration: 600ms;
            transition-duration: 600ms;
    @include user-select;
    p {
        margin: 0;
        word-break: break-word;
    }
    &.to-remove {
        opacity: 0;
    }
    &.new-task {
        opacity: 0; 
    }
}

.checked {
    -webkit-text-decoration-line: line-through!important;
            text-decoration-line: line-through!important;
    color: lighten($main, 40%);
}

.checked-bg {
    background-color: $doneTask;
}
